<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <form method="POST">
        {%csrf_token %}
        <tr>
            <td><label>user_name</label><br><input type="text" name="user_name"></td>
        </tr>
        <tr>
            <td><label>password</label><br><input type="text" name="password"></td>
        <tr><td><input type="submit"finesh></td></tr>
    </form>
</table>
      <a href="{% url 'view' %}">View</a>
</body>
</html>