<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .v1{border-left:15px ;
        height: 100px;
        margin-left:160px;
        float:right;
        margin-top:-100px;
    </style>
</head>
<body>
<table style="background-color:yellow; height:80;width:99;">
<tr>
        <h1>Farm Fresh&reg</h1>
        <th><a href="{% url 'h1' %}">HOME</a> </th>
        <th><a href="{% url 'pulses' %}">PULSES</a></th>
        <th style="align-right:20px" ><a href="{% url 'login' %}">LOGIN</a></th>

</tr>
</table>
<table>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            {% for i in b %}
        <tr>
            <th><label>product1</label> <input type="file" name="product_image" value="{{'i.product_image'}}"></th>
            <td><label>Name</label> <input type="text" name="product_name" value="{{'i.product_name'}}"></td>
            <td><label>product_code</label> <input type="text"  name="product_code" value={{'i.product_code'}}"> </td>
            <td><label>Price</label> <input type="text" name="price" value="{{'i.price'}}"></td>
            <td><label>description  </label> <textarea rows="5" cols="30" name="description" value="{{'i.description'}}"></textarea></td>
            <td><label>health_benefits  </label> <textarea rows="5" cols="30" name="health_benefits" value="{{'i.health_benefits'}}"></textarea></td>
            <td><input type="submit" SUBMIT ></td>
            {% endfor %}
        </tr>
        <a href="{% url 'view_p' %}"> view </a>

    </form>
</table>
<hr>
<h1 style="margin-left:300px">***OUR CERTIFICATE-Farm Fresh ***</h1>
<img src="{% static 'image/c1.jpg' %}" style=" height:150px; width:150px;">
<img src="{% static 'image/c2.png' %}" style=" height:150px;width:150px;margin-left:100px">
<img src="{% static 'image/c3.jpg' %}" style=" height:150px;width:150px;margin-left:120px">
<img src="{% static 'image/c4.png' %}" style=" height:150px;width:150px;margin-left:140px">
<img src="{% static 'image/c6.jpg' %}" style=" height:150px;width:150px;margin-left:160px">

<hr>
<h1 style=" margin-left:500px">Our Other Products-Farm Fresh</h1>
<img src="{% static 'image/clove.jpg' %}" style=" height:150px;width:150px">
<img src="{% static 'image/pattai.jpg' %}" style=" height:150px;width:150px;margin-left:110px">
<img src="{% static 'image/cardmum.jpg' %}" style=" height:150px;width:150px;margin-left:130px">
<img src="{% static 'image/star.jpg' %}" style=" height:150px;width:150px;margin-left:150px">
<img src="{% static 'image/leaf.jpg' %}" style=" height:150px;width:150px;margin-left:180px">

<hr>
<h1 style="margin-left:150px;color:green"><b>We care for your health...Blend yourself with nature and its product.Life with nature.!</b></h1>
<h2 style="margin-left:100px;margin-left:50px;">Farm Fresh(Head office)<br>
    No.2 adyar chennai-01<br>
    044-2655 4833<br>
    contact:99000 99000<br>

    <div class="v1">
    Farm Fresh(coimbatore)<br>
    No:10, 3rd Cross Rd, near Annapoorna Hotel,<br>
    Jawahar Nagar, 1st Layout, Saibaba Colony,<br>
    Coimbatore, Tamil Nadu 641011
    </div>
</h2>

</body>
</html>