{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .v1{border-left:15px ;
        height: 100px;
        margin-left:160px;
        float:right;
        margin-top:-70px;
    </style>
</head>
<body>
<table>
    <form>
        <tr>
            <th>product_image</th>
            <td>product_name</td>
            <td>product_code</td>
            <td>price</td>
            <td>description</td>
            <td>health_benefits</td>
        </tr>

        <tr>
            {% for i in b %}
            <td><img src="{{i.product_image.url}}" width="100" height="100"/></td>
            <td>{{i.product_name}}</td>
            <td>{{i.product_code}}</td>
            <td>{{i.price}}</td>
            <td>{{i.description}}</td>
            <td>{{i.health_benefits}}</td>
            <td><a href="{% url 'update_p' i.id %}"> UPDATE </a></td>
            <td><a href="{% url 'delete_p' i.id %}"> delete </a></td>

        </tr>
             {% endfor %}
    </form>
</table>
<hr>
<h1 style="margin-left:300px">***OUR CERTIFICATE-Farm Fresh ***</h1>
<img src="{% static 'image/c1.jpg' %}" style=" height:150px; width:150px;">
<img src="{% static 'image/c2.png' %}" style=" height:150px;width:150px;margin-left:100px">
<img src="{% static 'image/c3.jpg' %}" style=" height:150px;width:150px;margin-left:120px">
<img src="{% static 'image/c4.png' %}" style=" height:150px;width:150px;margin-left:140px">
<img src="{% static 'image/c6.jpg' %}" style=" height:150px;width:150px;margin-left:160px">

<hr>
<h1 style=" margin-left:500px">Our Other Products-Farm Fresh</h1>
<img src="{% static 'image/clove.jpg' %}" style=" height:150px;width:150px">
<img src="{% static 'image/pattai.jpg' %}" style=" height:150px;width:150px;margin-left:110px">
<img src="{% static 'image/cardmum.jpg' %}" style=" height:150px;width:150px;margin-left:130px">
<img src="{% static 'image/star.jpg' %}" style=" height:150px;width:150px;margin-left:150px">
<img src="{% static 'image/leaf.jpg' %}" style=" height:150px;width:150px;margin-left:180px">


<hr>
<h1 style="margin-left:150px;color:green"><b>We care for your health...Blend yourself with nature and its product.Life with nature.!</b></h1>
<h2 style="margin-left:100px;margin-left:50px;">Farm Fresh(Head office)<br>
    No.2 adyar chennai-01<br>
    044-2655 4833<br>
    contact:99000 99000

    <div class="v1">
    Farm Fresh(coimbatore)
    No:10, 3rd Cross Rd,near Annapoorna Hotel<br>
    Jawahar Nagar, 1st Layout, Saibaba Colony<br>
    Coimbatore, Tamil Nadu 641011
    </div>
</h2>

</body>
</html>